.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;
}

.header {
  width: 944px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 16px;
}
.headerh1 {
  font-family: StratosSkyeng;
  color: #ffffff;
}
.headerh4 {
  font-family: StratosSkyeng;
  color: #ffffff;
}

.leaderboard_unit {
  display: inline-grid;
  grid-template-columns: [line1] 20% [line2] 35% [line3] 25% [line4] 20%;

  border-radius: 12px;
  background: #ffffff;

  margin-top: 8px;
  margin-bottom: 8px;
  width: 944px;
  height: 64px;
  top: 142px;
  left: 40px;
}
.leaderboard_ttl {
  font-family: StratosSkyeng;
  color: #999999;
  margin-left: 16px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.leaderboard_text {
  font-family: StratosSkyeng;
  margin-left: 16px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.leaderboard_achievements {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.leaderboard_achievements_item {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.leaderboard_achievements_item:hover::after {
  content: attr(title);
  background-color: #c2f5ff;
  color: #004980;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the element */
  margin-left: 74px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  width: 154px;
  height: auto;
  font-family: "StratosSkyeng", sans-serif;
  font-size: 20px;
  text-align: center;
}
.leaderboard_achievements_item:hover::after {
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 180px;
  height: 90px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust this value to control how far below the element the tooltip appears */
  left: 50%;
  margin-left: -90px; /* Half of the tooltip width to center it */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
